<div id="gameBoard" class="fillSpace gameBoard">
	<div ng-class="{ show: winner, hide: !winner }" class="winnerDiv">
		<h2>Game Over!!</h2>
		<h3>Winner: {{ winner.name }}</h3>
		<h3><a href="#" ng-click="resetGame($event)">Play again.</a></h3>
	</div>
	<div class="center" ng-class="{ show: !showBoards, hide: showBoards }">
		<form ng-submit="submitName()">
			<h4>Enter Your Name</h4>
			<input type="text" ng-model="playerName" name="playerName" />
			<input type="submit" value="Play" />
		</form>
	</div>

	<div class="fillSpace" ng-class="{ show: showBoards, hide: !showBoards }">
		<board player="player2" showBoard="showBoards" card-Is-Playable="canPlayCard(player, playerEffects)" play="playCard(card, event)"></board>
		<board player="player1" showBoard="showBoards" card-Is-Playable="canPlayCard(player, playerEffects)" play="playCard(card, event)"></board>
	</div>
</div>